---
import 'blaze-slider/dist/blaze.css';
import Img from './Img.astro';

const testimonials = [
  {
    name: 'Miles McMillan',
    text: '”We worked with Jack at KMS when we had our basement contracted. He did all the plumbing for our basement bathroom. He provides high quality work and very pleasant to work with. When we had an issue, he came out same day and kept in contact with me to ensure it got completed. He even followed up to ensure all was working well. I would hire again.”',
  },
  {
    name: 'Dave O.',
    text: '”Jack installed a new faucet and some upgraded sink components for us; the service and workmanship were fantastic. He was very thorough in assessing our needs/expectations prior to the job; the customer service was excellent throughout our experience. I highly recommend KMS Plumbing.”',
  },
  {
    name: 'Alex Chan',
    text: '”I just had my hot water tank replacement completed by Jack Kumar of KMS Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and completed a hot water tank replacement for a senior friend of ours. As usual, Jack is on time and professional. His workmanship is great. Housekeeping is excellent. Pricing is reasonable. Thanks for your service Jack.”',
  },
];
---

<!-- "before:absolute before:left-0 before:top-0 before:h-[20%] before:w-full before:bg-gradient-to-b before:from-[#222222] before:to-[rgba(34,34,34,0)] before:opacity-100 ",
    "after:absolute after:bottom-0 after:left-0 after:h-[20%] after:w-full after:bg-gradient-to-b after:from-[rgba(34,34,34,0)] after:to-[#222222] after:opacity-100", -->
<section
  id="testimonials"
  class:list={[
    'relative z-[1] overflow-hidden bg-gray-100 py-[var(--sectionPadding)] ',
  ]}
>
  <div
    class="mx-auto flex max-w-[34.375rem] flex-col items-center gap-[clamp(3rem,6vw,4rem)] z-[1] relative md:max-w-[80rem]"
  >
    <div class="flex w-full flex-col items-center text-center">
      <span class="cs-topper text-(--primary)">Testimonials</span>
      <h2 class="cs-title m-0 max-w-[26ch] text-[var(--headerColor)]">
        Our Client Testimonials
      </h2>
    </div>
    <div class="blaze-slider max-w-[100vw]">
      <div class="blaze-container">
        <div class="blaze-track-container">
          <div class="blaze-track">
            {
              testimonials.map((testimonial) => (
                <div class="blaze-slide flex !important justify-center">
                  <div class="flex w-full flex-col items-center gap-[3rem] md:w-[65vw] md:flex-row md:justify-center">
                    <div class="cs-review-group relative z-[1] flex max-w-[53.75rem] flex-col items-center text-center md:items-start md:text-left">
                      <img
                        class="cs-stars mb-[1.5rem] block h-auto w-[10.125rem]"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                        alt="quotes"
                        width="97"
                        height="80"
                        aria-hidden="true"
                      />
                      <p class="cs-review-text mb-[2.5rem] text-[clamp(1rem,3vw,2rem)] font-[500] leading-[1.2em] text-[var(--headerColor)]">
                        {testimonial.text}
                      </p>
                      <span class="cs-name mb-[0.25rem] block font-[700] text-[1.25rem] leading-[1.2em] text-[var(--headerColor)]">
                        {testimonial.name}
                      </span>
                      <Img
                        src="/assets/images/icons/google-review-icon.webp"
                        alt="Google Review Icon"
                        height={50}
                        width={120}
                      />
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>

        <div class="blaze-nav p-[1.5rem_1rem]">
          <div
            class:list={[
              'blaze-pagination flex justify-center gap-[5px]',
              '[&>button]:rounded-full [&>button]:bg-[#ccc] [&>button]:text-transparent [&>button]:border-none [&>button]:cursor-pointer [&>button]:transition-colors [&>button]:duration-300 [&>button]:ease-in-out [&>button]:text-[0px] [&>button]:p-[5px]',
              '[&>button.active]:bg-(--primary)',
            ]}
          >
          </div>
        </div>
      </div>
    </div>
    <a
      href="{{ client.google_review }}"
      class="cs-button-solid inline-block before:bg-[var(--secondary)]"
      target="_blank">See More Reviews</a
    >
  </div>
  <picture
    class="cs-background absolute left-0 top-0 block h-full w-full -z-[1]"
  >
    <source
      media="(max-width: 1023px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png"
    />
    <source
      media="(min-width: 1024px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png"
      alt="dotted texture"
      width="1920"
      height="600"
      class="absolute left-0 top-0 h-full w-full object-cover opacity-[0.32]"
    />
  </picture>

  <script>
    import BlazeSlider from 'blaze-slider';

    const el = document.querySelector('.blaze-slider') as HTMLElement;
    if (el) {
      new BlazeSlider(el);
    }
  </script>
</section>
